section, footer {
    padding: 60px 0;
}

.showcase {
    padding: 0;
}

.showcase-img {
    background-size: cover;
    background-position: center;
}

.showcase-text {
    padding: 50px;
}

.team-item {
    max-width: 200px;
}

.mini-form {
    background-image: url(../img/slider-1.jpg);
    background-size: cover;
    background-position: center;
}

/* responsywność: wersja mobilna: jedna kolumna (od 768) */
@media (max-width: 768px) { 
    .service-item,
    .team-item
    {
        margin-bottom: 50px;
    }
    .service-item:last-child,
    .team-lastitem  {
        margin: 0;
    }

    .showcase-img {
        height: 300px;
    }
}